@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

nav {
  height: 200px;
  padding: 5px 0 5px 0;
  display: flex;
  align-items: center;
  background-color: #F0EBE0 ;
  justify-content: space-around;
}

 /* nav img {
  width: 150px;
  position: absolute;
  padding: 10px;
  margin: 10px;
  left: 50px;
  align-items: center;
}   */

nav img {
  float: left;
  width: 33.33%;
  padding: 5px;
}

nav ul {
  display: flex;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

nav ul li a {
  position: relative;
  color: black;
  font-size: 30px;
  padding: 20px 10px;
}

nav ul li a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: black;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}

nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

/*Bar View Image*/
.BV img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/* Image 1 */
.container-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pourover img {
  height: 350px;
  width: 250px;
  border-radius:5px;
  margin: 50px ;
}
/* Image 2 */
.container-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pourover-2 img {
  height: 350px;
  width: 250px;
  border-radius:5px;
  margin: 50px ;
}
/* Image 3 */
.container-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pourover-3 img {
  height: 350px;
  width: 250px;
  border-radius:5px;
  margin: 50px ;
}


/* Image 4 */
.container-4 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pourover-4 img {
  height: 350px;
  width: 250px;
  border-radius:5px;
  margin: 50px ;
}